@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Orbitron:wght@600&display=swap');


.clk{
    background-color: black;
    color: blueviolet;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
}